/*Color Palette*/
:root {
	--crimson: #64231f;
	--red: #af3327;
	--green: #81b4b4;
	--sand: #df966b;
	--off-white: 	#eeebe8;
	--coal: #4d4e53;
}
/*Color Palette*/
/*General*/
*,
::before,
::after {
	/*border: 1px solid red;*/
	margin: 0;
	padding: 0;
}

html,
body {
	background-color: var(--off-white);
	color: var(--coal);
	line-height: 1.5;
	scroll-behavior: smooth;
	font-family: 'Open Sans', Arial, sans-serif;
}

h3 {
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: var(--crimson);
}
/*General*/

/*Navigation Bar*/
#navbar {
	display: block;
	position: fixed;
	top: 0px;
	left: 0;
	width: 300px;
	min-width: 180px;
	height: 100%;
	background-color: var(--crimson);
	color: var(--off-white);
	align-items: center;
}

.character-img {
	width: 280px;
	margin: 0 auto 1rem auto;
	display: flex;
	border-radius: 1rem;
	min-width: 160px;
}

#navbar header {
	font-size: 2.4rem;
	text-align: center;
	font-family: 'Crimson Text', Arial, sans-serif;
	padding: 15px 0;

}

#navbar ul {
	list-style-type: none;
	text-decoration: none;
	padding-left: none;
}

#navbar a {
	display: block;
	padding: 10px 10px;
	color: var(--off-white);
	text-decoration: none;
	cursor: pointer;
}

#navbar a:hover {
	background-color: var(--green);
	color: var(--off-white);
}

@media (max-width:700px) {
	#navbar {
		width: 180px;
	}

	.character-img {
		width: 160px;
		margin: 0 auto 0 auto;
	}
	#navbar header {
		font-size: 1.4rem;
	}

	#navbar a {
		padding: 7px;
		font-size: 1rem;
	}
}
/*Navigation Bar*/

/*Main Section*/
.header01 {
	font-size: 2rem;
	background-color: var(--green);
	text-align: center;
	color: var(--off-white);
	margin-bottom: .5rem;
	font-weight: 600;
}

.header02 {
	font-size: 1.5rem;
	margin-bottom: .5rem;
	color: var(--crimson);
	font-weight: 600;
}

#main-doc {
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 500px;
	padding: 20px;
	height: 100vh;
	min-width: 50vw;
}

@media (max-width:700px) {
	h3 {
		font-size: 1.1rem;
		margin-bottom: 0;
	}
	#main-doc {
		margin-left: 180px;
		margin-right: 10px;
		font-size: 1.0rem;
	}
	.header01 {
		font-size: 1.2rem;
	}
	.header02 {
		font-size: 1.1rem;
	}
}

/* Sections Typical */
section {
	margin-bottom: 2rem;
}

.with-border {
	border-bottom: 1px dotted var(--green);
	margin-bottom: 1rem;
}

.with-bullets {
	list-style: disc;
	margin-left: 1.5rem;
}

section p {
	margin-bottom: 1rem;
}

section span {
	display: block;
	font-weight: 600;
}

section ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
/* Sections Typical */

/* Footer */
footer p {
	text-align: center;
	background-color: var(--green);
	color: var(--off-white);
	padding: 0.5rem;
}
/* Footer */
/*@keyframes animation {
	from {background-color: var(--green);}
  	to {background-color: var(--off-white);}
}

.animate-on-click {
	animation-name: animation;
	animation-duration: 2s;
}*/
/*Main Section*/